.body-bg {
  background-color: black;
  background-image: url('../img/universe.jpg');
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  margin-bottom: 60px;
}

.content {
  padding-bottom: 100px;
}

#branding {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.filter {
  height: 60vh;
  background: rgba(0,0,0,0.4);
}

#branding h1 {
  color: #EEE;
  font-size: 75px;
  text-shadow: 1px 1px 5px #000;
}

#branding h4 {
  color: #EEE;
  font-size: 35px;
  text-shadow: 1px 1px 5px #000;
}

#branding .button {
  border-radius: 10px;
  font-size: 22px;
  -webkit-box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 7px 35px 0px rgba(0,0,0,0.75);
  text-shadow: 1px 1px 2px #000;
}


@media(max-width: 767px) {
  #branding h1 {
    font-size: 40px;
  }

  #branding h4 {
    font-size: 22px;
  }

  #branding .button {
    font-size: 16px;
  }
}

#examples {
  font-size: 50px;
  color: #444;
}

h2 {
  margin: 20px 0px 15px 0px;
  border-bottom: solid 1px #CCC;
}

h3 {
  margin: 15px 0px 10px 0px;
  border-bottom: solid 1px #EEE;
}

h4 {
  margin-bottom: 25px;
}

.docs-header {
  padding: 0px;
  padding-top: 30px;
}

.lf::before {
  display: none;
}

.inline-class, .inline-type {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

.inline-class {
  color: #D14;
}

.inline-type {
  font-weight: bold;
}

.image-grid {
  padding: 15px 0px;
}

.image-grid .title {
  margin-top: 30px;
  display: block;
  color: white;
  background-color: #333;
  border-radius: 7px 7px 0 0;
  font-size: 1.3em;
  padding: 5px;
}

.image-grid .title:hover {
  background-color: #272727;
}

.image-grid img {
  border: solid 1px #CCC;
  padding: 10px;
  background-color: white;
}