body {
  height: 2200px;
  margin: 0;
  padding: 0;
}

.small-row {
  width: 100%;
  clear: left;
}

.small-row:after{
  content: "";
  display: table;
  clear: both;
}

.spacer {
  width: 100%;
  height: 75px;
}

.box {
  width: 5%;
  height: 75px;
  float: left;
}

.light-blue {
  background-color: #35a7ff;
}

.dark-blue {
  background-color: #38618c;
}

.brown {
  background-color: #524948;
}

.red {
  background-color: #ff5964;
}

.yellow {
  background-color: #ffe74c;
}

.green {
  background-color: #3e8914;
}