body {
  height: 3000px;
  margin: 0;
  padding: 0;
}

.spacer {
  background-color: #EEE;
  height: 140px;
}

.light-blue, .dark-blue, .brown, .black, .red, .yellow, .green, .spacer{
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.light-blue, .dark-blue, .red, .green, .brown, .black, .gray {
  color: white;
}

.light-blue {
  background-color: #35a7ff;
  height: 200px;
  padding-top: 75px;
}

.dark-blue {
  background-color: #38618c;
  padding-top: 45px;
  height: 140px;
}

.black {
  background-color: #000;
  padding-top: 5px;
  height: 45px;
}

.brown {
  background-color: #524948;
  height: 75px;
  padding-top: 23px;
}

.red {
  background-color: #ff5964;
  height: 200px;
  padding-top: 75px;
}

.yellow {
  background-color: #ffe74c;
  color: #333;
  height: 140px;
  padding-top: 45px;
}

.green {
  background-color: #3e8914;
  height: 200px;
  padding-top: 75px;
}

.gray {
  background-color: #333;
  height: 200px;
  padding-top: 75px;
}